h3 A new profile has been CREATED!
br
h3 View profile: &nbsp;
  -profileUrl="http://www.across-mold.com/#/display-profile/" + profileId
  a(href=[profileUrl])
    =profileUrl
br

p Name: &nbsp;
  =profile.profileName

p Email: &nbsp;
  =profile.profileContactEmail

p Profile Type: &nbsp;
  =profile.profileType

p Tags: &nbsp;
  if profile.tags && profile.tags.length > 0
    - for (var x = 0; x < profile.tags.length; x++)
        if (x == profile.tags.length - 1)
          =profile.tags[x]
        else
          =profile.tags[x] + ", "

p
  if profile.profileType == 'business' || profile.profileType == 'venue'
    if profile.certifications.length == 0
      | Certifications
      - for (var x = 0; x < profile.certifications.length; x++)
        =profile.certifications[x]
        if (x < profile.certifications.length-1)
          ="/"
  else
    if profile.organizations && profile.organizations.length == 0
      | Equity/Union
      - for (var x = 0; x < profile.organizations.length; x++)
        =profile.organizations[x]
        if (x < profile.organizations.length-1)
          ="/"

p Profile Type: &nbsp;
  =profile.profileType

p Published: &nbsp;
  if profile.profilePublished
    |Published
  else
    |Private
