



div.footer-container.container

  div.footer-links
    div.right.hidden-xs
      |©2015 Across Mold Industrial Limited 
    div.right
      |Contact Us
      //a(href="#/microsite/contactus") Contact Us
    div.right
      |FAQ
      //a(href="#/microsite/faq") FAQ
    div.right.hidden
      |About
      //a(href="#/microsite/about") About
    div.right.hidden-xs
      |Terms of Use
      //a(href="#/microsite/terms") Terms of Use
