



div.footer-container.container

  div.footer-links
    div.right.hidden-xs
      |©2015 Across Mold LLC
    div.right
      a(href="#/microsite/contactus") Contact Us
    div.right
      a(href="#/microsite/faq") FAQ
    div.right.hidden
      a(href="#/microsite/about") About
    div.right.hidden-xs
      a(href="#/microsite/terms") Terms of Use
