h1 Registration Log in view

  div.email-pass-inputs
    h2 Account
    input.email-input(type="email", placeholder="Email", id="login-email")
    input.password-input(type="password", placeholder="Password", id="login-password")

input(type="button", class="search-button button", id="submit-login", value="Login")
