div.registration-page-2
  h1 Upload an awesome picture!
  div.user-image-preview
    img(id="profilePicturePreview")
    div.upload-buttons
      input(type="file", id="imgUpload", accept="image/*")
      input(type="button", class="search-button button", id="submit-registration-2", value="Upload")
