div.registration-page-1
  h1 Please create a Supplier account
  div
    div.registration-form-1
      div.name-inputs
        h2 Name
        input.first-name-input(type="text", placeholder="First name")
        &nbsp;&nbsp;&nbsp;
        span.ss-plus
        &nbsp;&nbsp;&nbsp;

        input.last-name-input(type="text", placeholder="Last name")
      div.email-pass-inputs
        h2 Account
        input.email-input(type="email", placeholder="Email")
        &nbsp;&nbsp;&nbsp;
        span.ss-plus
        &nbsp;&nbsp;&nbsp;
        input.password-input(type="password", placeholder="Password")
     div.terms-of-service
        input(type="checkbox",class="terms-checkbox")
        span.terms-text I agree to the Terms &amp; Agreement
    input(type="button", class="registration-button", id="submit-registration-1", value="Continue >>")
