div#registration-confirm-mobile
	div.registration-form-1
		p Thank you for creating your Make It Globalaccount.
		br
		p You can now use all search and share functions on Across Mold.
		br
		p To create and edit your own profile, please login via desktop or laptop computer
		br
		p Sorry, mobiles are just too small. :-)
	br
	input(type="button", class="registration-button", id="start-search", value="Search")
