div.dashboard-profile
  div.profile-left
    -var profileImgUrl="images/placeholder_imgs/profile_placeholder.png"
    div.profile-image(style="background:url('" + profileImgUrl + "')")
    div.message
      br
      br
      |No profiles saved as favorites.
      br
      br
      |View profiles and click the save favorite icon to build your list of favorites.
