div#favorite-created.modal-content.popover
  div.modal-body
    span#fav-created-close(class="ss-delete")
    h4.modal-title This profile has been saved to
    h4.modal-title "My Favorites."
    div.check-mark-img
    h4.modal-title To view, visit your &nbsp;
      a(href="#/dashboard/favorites") Dashboard.
