div.login-layer
  div.login-section
    br
    input(type="password", class="primary-input",placeholder="password", id='login-layer-pass', style='width:100%')
    br
    br
    br
    br
    div(style="float:right")
      input(type="button", class="search-button button ",value="Submit", id="login")
