if isPublished
  span.subtitle.goprivate-message Profile is
  span.go-private-button LIVE!
else if lessThan50
  span.subtitle Complete 50% to go live.
else
  span.subtitle.golive-message Profile is
  span.go-live-button private!
