div.help-pages-background
  div.contact-us
    p.headr Contact
    br
    p.light|We will assist you to list your business and services or help you identify and contact a supplier.
    br
    p.light.sm If you have any suggestions on improving our service, or what you are looking for is not on our search system. Please Contact us.
    br
    p.light.sm Or if you would like to send us an RFQ of what you are looking to source, we can help you find the right supplier for you. Please Contact us.
    div.contact-button
      a(href="mailto:contact@across-mold.com")
        |contact@across-mold.com
