div.help-pages-background.row
  div.col-md-3.col-sm-2.col-xs-1
  div.col-md-6.col-sm-8.col-xs-10.terms
    span.headr Frequently Asked Questions
    div.scrollable-div
      p.headr Why use across-mold.com?
      p Sourcing of tooling, processed parts and assemblies can be an expensive process, even when just sourcing locally.
      p But now that the world of manufacturing is a truly global one, the cost of global sourcing can be a hugely expensive process.
      p So the goal of across-mold.com is to provide a FREE method, for you the buyer to do very specific searches for what you are looking for.
      p How much time have you spent in the past looking through out of date directories, researching and traveling to companies that don’t really fit your needs?
      p Auditing companies that you know are not a good fit.
      p We have created AcrossMold, so you can search in detail for the right supplier.
      p You can then be more confident, that the companies you do choose to shortlist, and spend time and money visiting, are a close match from the very beginning.
      p Also as the world changes every day, AcrossMold provides a dynamic portal for you to view a constantly changing supplier base.
      p.headr The major processes and services we currently cover are -
      ul
        li Rapid Prototyping processes and parts
        li Precision machined components
        li Tooling and parts for plastics – Injection, Compression, Blow, Rotational molds / etc
        li Tooling and parts for metals - Die casting, Stamping, Metal Injection Molding etc
        li Tooling and parts for other materials - Composites, Ceramics etc
        li Sub assemblies – mainly mechanical assemblies, including Jigs & Fixtures
        li Support services – tooling repair, engineering changes, preventative maintenance
        li Graining / texturing services etc
        li Suppliers included are -
        li Rapid prototyping companies
        li Precision machining companies
        li Prototyping and production toolmakers
        li Processors of plastics, metals, and other materials
        li Jig and fixture manufacturers
        li Sub assembly manufacturers, with a vast list of primary and secondary capabilities.
        li Support and service companies

      p So we hope you will find across-mold.com a valuable resource for finding what you are looking for in this global market.

      p.message Couldn't find what you were looking for?
      p.center
        input#ask-us-button.button-alt.core-button(type="button", value="Ask Us")
