div.microsite-background.sales
  div.microsite-panel-sales.scrolldown(data-scroll="content")
    img.sales-header(src="images/microsite_images/3D_printing_lg.jpg")
    div.overlay
      div.vertical-center
        div.title 3D Printing
        div.title Additive Manufacturing
    div.scroll-arrow
      img(src="images/microsite_images/arrow2.png")



  a#content
  div.sales-subtitle
  div.row
    div.col-md-2.col-sm-2.col-xs-1
    div.sales-textdiv.col-md-6.col-sm-8.col-xs-10
      p.hidden-xs
        br
        br
      br
      p.subhead 3D Printed / Additive Manufactured Parts
      br
      |3D printing is changing fast. Using Across Mold you have access to all the latest technologies.
      br
      br
      p.subhead Plastic Printed Parts
      br
      |3D printing techniques. SLS, SLA, FDM, Materials include ABS, Nylon,
      br
      |Secondary operations, include hand finishing, painting, plating and screen printing.
      br
      br
      p.subhead Metal Printed Parts.
      br
      |Available direct from 3D printer for Prototypes and with secondary machining for production.
      br
      |Aluminum, Steel, Cobalt Chrome, Titanium, Inconel
      br
      br

    div.sales-imgdiv.col-md-3.col-sm-12
      img#profileimg(src="images/microsite_images/3Dprinting-profile-sm.jpg", data-previewid="preview-3Dprinting")

  div.row
    div.col-xs-12
      a(href="#/quotation")
       input#quotation_button.action-btn.double(value="Get a quotation", type="button")
  br

div#preview-3Dprinting.largeprofile-preview.modal.fade
  div.modal-content
    img.prevClose(src="images/microsite_images/3Dprinting-profile-lg.jpg")
