div.microsite-background.sales
  div.microsite-panel-sales.scrolldown(data-scroll="content")
    img.sales-header(src="images/microsite_images/injection_molding_lg.jpg")
    div.overlay
      div.vertical-center
        div.title Injection Molding
    div.scroll-arrow
      img(src="images/microsite_images/arrow2.png")



  a#content
  div.sales-subtitle
  div.row
    div.col-md-2.col-sm-2.col-xs-1
    div.sales-textdiv.col-md-6.col-sm-8.col-xs-10
      p.hidden-xs
        br
        br
      br
      p.subhead Plastic Injection molded parts
      br
      |From high detail micro parts, to large industrial enclosures.
      br
      |Low cost, low volume and bridge tooling.
      br
      |High volume full production molds.
      br
      |Part materials - Full range of Engineering thermoplastic and Thermosets.
      br
      br
      p.subhead Mold Tooling – for molds you want to run
      br
      |Short Run low cost molds, to high volume production molds, built to high specification International standards.
      br
      |Single and multi-cavity molds.
      br
      |Unscrewing, hot runner, and 2 shot molds
      br
      |Mold materials - Aluminum, P20, NAK 80, H13
      br

    div.sales-imgdiv.col-md-3.col-sm-12
      img#profileimg(src="images/microsite_images/injection-molding-profile-sm.jpg", data-previewid="preview-injection-molding")

  div.row
    div.col-xs-12
      a(href="#/quotation")
       input#quotation_button.action-btn.double(value="Get a quotation", type="button")
  br

div#preview-injection-molding.largeprofile-preview.modal.fade
  div.modal-content
    img.prevClose(src="images/microsite_images/injection-molding-profile-lg.jpg")
