div.wrapper
  div.microsite-learn-more
    h1 What is Across Mold?
    p 
    h2 Search
    p Search for your ideal manufacturing partner.
                 div.action-buttons.audience-buttons.learn-more
                    a(href="#/register")
                        input(class="button core-button", value="Get Started", type="button")
