div#parallax-images
  a.parallax-images

div.microsite-background#landing-background

  div.img-holder.image1(data-image="images/microsite_images/main-image1-lg.jpg", data-image-sm="images/microsite_images/main-image1-sm.jpg", data-image-md="images/microsite_images/main-image1-md.jpg")
  div.top-overlay.scrolldown-top(data-scroll="micro-slide-1")
   div.microheadline
    div.medd|Why search the world for your custom
    div.medd|parts, and tooling, when you can
    div.medd|source them all right here
    img.scrolldown-top-button(src='images/microsite_images/arrow2.png', data-scroll="micro-slide-1")

  a#micro-slide-1
  div.microsite-content.scrolldown(data-scroll="micro-slide-2")
    div.row.table
      div.col-sm-offset-1.col-sm-10.col-xs-offset-0.col-xs-12.hidden-md.hidden-lg
        img.landing-contentslide.left(src="images/microsite_images/slide-img-1.png")
      div.col-sm-offset-1.col-sm-11.col-xs-offset-1.col-xs-11.hidden-md.hidden-lg
        div.landing-contentslide
          p.subhead Across Mold.
          p Let us quote your project to supply your custom parts.<br>Fast, high quality and the lowest prices.
          p Or let us help you find a supplier in the country or region you want.

      div.col-md-8.col-md-offset-2.hidden-sm.hidden-xs
        div.cell-middle.image
          img.landing-contentslide(src="images/microsite_images/slide-img-1.png")
        div.cell-middle.description
          div.landing-contentslide
            p.subhead Across Mold.
            p Let us quote your project to supply your custom parts.<br>Fast, high quality and the lowest prices.
            p Or let us help you find a supplier in the country or region you want.

    div.row
      div.col-md-12.micro-slide-down
        img.scrolldown-arrow(src='images/microsite_images/arrow_half.png', data-scroll="micro-slide-2")

  div.img-holder.image2(data-image="images/microsite_images/main-image2-lg.jpg", data-image-sm="images/microsite_images/main-image2-sm.jpg", data-image-md="images/microsite_images/main-image2-md.jpg")
  a#micro-slide-2
  div.microsite-content.scrolldown(data-scroll="micro-slide-3")
    div.row.table
      div.col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10.hidden-md.hidden-lg
        img.landing-contentslide(src="images/microsite_images/slide-img-2.jpg")
      div.col-sm-offset-1.col-sm-11.col-xs-offset-1.col-xs-11.hidden-md.hidden-lg
        div.landing-contentslide
          p.subhead 3D Printed and Additive Manufactured Parts
          p Plastic prototypes and parts SLA, SLS, FDM,
          p Metal parts. Aluminum, Steel, Cobalt Chrome, Titanium, Inconel, Maraging Steel

      div.col-md-8.col-md-offset-2.hidden-sm.hidden-xs
        div.cell-middle.description
          div.landing-contentslide
            p.subhead 3D Printed and Additive Manufactured Parts
            p Plastic prototypes and parts SLA, SLS, FDM,
            p Metal parts. Aluminum, Steel, Cobalt Chrome, Titanium, Inconel, Maraging Steel
        div.cell-middle.image
          img.landing-contentslide(src="images/microsite_images/slide-img-2.jpg")

    div.row
      div.col-md-12.micro-slide-down
        img.scrolldown-arrow(src='images/microsite_images/arrow_half.png', data-scroll="micro-slide-3")

  div.img-holder.image3(data-image="images/microsite_images/main-image3-lg.jpg", data-image-sm="images/microsite_images/main-image3-sm.jpg", data-image-md="images/microsite_images/main-image3-md.jpg")
  a#micro-slide-3
  div.microsite-content.scrolldown(data-scroll="micro-slide-4")
    div.row.table
      div.col-sm-offset-1.col-sm-10.col-xs-offset-0.col-xs-12.hidden-md.hidden-lg
        img.landing-contentslide(src="images/microsite_images/slide-img-3.jpg")
      div.col-sm-offset-1.col-sm-11.col-xs-offset-1.col-xs-11.hidden-md.hidden-lg
        div.landing-contentslide
          p.subhead Plastic Injection molded parts and mold tooling
          p Molded parts.<br>Full range from small, tight tolerance parts to large industrial parts.
          p Mold tooling.<br>Supply of mold tooling for you run.<br>Prototype molds, bridge tooling, and full production molds

      div.col-md-8.col-md-offset-2.hidden-sm.hidden-xs
        div.cell-middle.image
          img.landing-contentslide(src="images/microsite_images/slide-img-3.jpg")
        div.cell-middle.description
          div.landing-contentslide
            p.subhead Plastic Injection molded parts and mold tooling
            p Molded parts.<br>Full range from small, tight tolerance parts to large industrial parts.
            p Mold tooling.<br>Supply of mold tooling for you run.<br>Prototype molds, bridge tooling, and full production molds

    div.row
      div.col-md-12.micro-slide-down
        img.scrolldown-arrow(src='images/microsite_images/arrow_half.png', data-scroll="micro-slide-4")

  div.img-holder.image4(data-image="images/microsite_images/main-image4-lg.jpg", data-image-sm="images/microsite_images/main-image4-sm.jpg", data-image-md="images/microsite_images/main-image4-md.jpg")
  a#micro-slide-4
  div.microsite-content.scrolldown(data-scroll="micro-slide-5")
    div.row.table
      div.col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10.hidden-md.hidden-lg
        img.landing-contentslide(src="images/microsite_images/slide-img-4.png",style="width: 65%;")
      div.col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-11.hidden-md.hidden-lg
        div.landing-contentslide
          p.subhead Precision machined parts
          p Plastics and Metals – Wide range of materials
          p CNC -3 - 4 and 5 axis, Turning and milling
          p Prototype, Batch and high volume production

      div.col-md-8.col-md-offset-2.hidden-sm.hidden-xs
        div.cell-middle.description
          div.landing-contentslide
            p.subhead Precision machined parts
            p Plastics and Metals – Wide range of materials
            p CNC -3 - 4 and 5 axis, Turning and milling
            p Prototype, Batch and high volume production
        div.cell-middle.image
          img.landing-contentslide(src="images/microsite_images/slide-img-4.png")

    div.row
      div.col-md-12.micro-slide-down
        img.scrolldown-arrow(src='images/microsite_images/arrow_half.png', data-scroll="micro-slide-5")

  div.img-holder.image4(data-image="images/microsite_images/main-image5-lg.jpg", data-image-sm="images/microsite_images/main-image5-sm.jpg", data-image-md="images/microsite_images/main-image5-md.jpg")
  a#micro-slide-5
  div.microsite-content.scrolldown(data-scroll="micro-slide-6")
    div.row.table
      div.col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10.hidden-md.hidden-lg
        img.landing-contentslide(src="images/microsite_images/slide-img-5.jpg",style="width: 65%;")
      div.col-sm-offset-1.col-sm-11.col-xs-offset-1.col-xs-11.hidden-md.hidden-lg
        div.landing-contentslide
          p.subhead Metal Die Casting
          p High quality, low volume and full production Die casting.
          p Secondary operations – machining and painting.
          p Materials include Aluminum, Zinc and Magnesium

      div.col-md-8.col-md-offset-2.hidden-sm.hidden-xs
        div.cell-middle.image
          img.landing-contentslide(src="images/microsite_images/slide-img-5.jpg")
        div.cell-middle.description
          div.landing-contentslide
            p.subhead Metal Die Casting
            p High quality, low volume and full production Die casting.
            p Secondary operations – machining and painting.
            p Materials include Aluminum, Zinc and Magnesium

    div.row
      div.col-md-12.micro-slide-down
        img.scrolldown-arrow(src='images/microsite_images/arrow_half.png', data-scroll="micro-slide-6")


  div.img-holder.image4(data-image="images/microsite_images/main-image6-lg.jpg", data-image-sm="images/microsite_images/main-image6-sm.jpg", data-image-md="images/microsite_images/main-image6-md.jpg")
  a#micro-slide-6
  div.microsite-content.scrolldown(data-scroll="micro-slide-7")
    div.row.table
      div.col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10.hidden-md.hidden-lg
        img.landing-contentslide(src="images/microsite_images/slide-img-6.jpg",style="width: 65%;")
      div.col-sm-offset-1.col-sm-11.col-xs-offset-1.col-xs-11.hidden-md.hidden-lg
        div.landing-contentslide
          p.subhead Other processes and parts
          p For Plastic parts - Compression molding, Rotational molding, Blow molding, Thermoforming.
          p For metal parts - Sheet metal fabrication, Stamping, Metal Injection molding, Forging, Springs and wire work.
          p Jig and Fixtures.
          p Carbon Composite and Ceramic parts

      div.col-md-8.col-md-offset-2.hidden-sm.hidden-xs
        div.cell-middle.description
          div.landing-contentslide
            p.subhead Other processes and parts
            p For Plastic parts - Compression molding, Rotational molding, Blow molding, Thermoforming.
            p For metal parts - Sheet metal fabrication, Stamping, Metal Injection molding, Forging, Springs and wire work.
            p Jig and Fixtures.
            p Carbon Composite and Ceramic parts

        div.cell-middle.image
          img.landing-contentslide(src="images/microsite_images/slide-img-6.jpg")

    div.row
      div.col-md-12.micro-slide-down
        img.scrolldown-arrow(src='images/microsite_images/arrow_half.png', data-scroll="micro-slide-7")

  a#micro-slide-7
  div.microsite-action
    div.row
      div.col-md-4.col-sm-4.col-xs-0
      div.col-md-4.col-sm-4.col-xs-12
        div(style="display: inline-block")
          div.action-btn.double(data-navigate="#/quotation") Get a quotation
    div.row.visible-xs
      br
      br
    div.row.hidden-xs
      br
      br
      br
      br
      div.col-12.header Find out more
    div.row
      div.col-md-1.col-xs-0
      div.col-md-10.col-xs-12
        div(style="display: inline-block")
          div.action-holder
            div.action-btn(data-navigate="#/microsite/3Dprinting") 3D&nbsp;Printing
            div.action-btn(data-navigate="#/microsite/InjectionMolding") Plastic&nbsp;Injection Molding
            div.action-btn(data-navigate="#/microsite/DieCasting") Metal Die&nbsp;Casting
            div.action-btn(data-navigate="#/microsite/CNCmachining") Precision Machining
            div.action-btn(data-navigate="#/microsite/Other") Other&nbsp;Processes
