div.microsite-background.sales
  div.microsite-panel-sales.scrolldown(data-scroll="content")
    img.sales-header(src="images/microsite_images/other_lg.jpg")
    div.overlay
      div.vertical-center
        div.title Other Processes
    div.scroll-arrow
      img(src="images/microsite_images/arrow2.png")



  a#content
  div.sales-subtitle
  div.row
    div.col-md-2.col-sm-2.col-xs-1
    div.sales-textdiv.col-md-6.col-sm-8.col-xs-10
      p.hidden-xs
        br
        br
      br
      p.subhead Other processes
      br
      |If you require parts or tooling for other mechanical processes, please send contact us or us an enquiry and we will try to help.
      |Examples - Sheet metal fabrication, Metal Injection Molding, Jig and fixtures, Compression molding, Carbon composites, Ceramic parts.
      br
      br
      p.subhead Our Global network
      br
      |Awe are here to help you find aluminum, Zinc and Magnesium.
      br

    div.sales-imgdiv.col-md-3.col-sm-12
      img#profileimg(src="images/microsite_images/other-profile-sm.jpg", data-previewid="preview-other")

  div.row
    div.col-xs-12
      a(href="#/quotation")
       input#quotation_button.action-btn.double(value="Get a quotation", type="button")
  br

div#preview-other.largeprofile-preview.modal.fade
  div.modal-content
    img.prevClose(src="images/microsite_images/other-profile-lg.jpg")
