div.sub-menu.hidden-sm.hidden-xs
 div.wrapper
   a(href="#/microsite/3Dprinting")
     input(type="button", class="button white-button", value="3D Printing")
   a(href="#/microsite/InjectionMolding")
     input(type="button", class="button white-button", value="Injection Molding")
   a(href="#/microsite/DieCasting")
     input(type="button", class="button white-button", value="Metal Die Casting")
   a(href="#/microsite/CNCmachining")
     input(type="button", class="button white-button", value="CNC Machining")
   a(href="#/microsite/Other")
     input(type="button", class="button white-button", value="Other")
