div.sub-menu.hidden-sm.hidden-xs
 div.wrapper
   //a(href="#/microsite/MoldTypes")
   a(href="#")
     input(type="button", class="button white-button", value="Mold types")
   a(href="#")
     input(type="button", class="button white-button", value="Company")
   a(href="#")
     input(type="button", class="button white-button", value="Services")
   a(href="#")
     input(type="button", class="button white-button", value="Quality")
   a(href="#")
     input(type="button", class="button white-button", value="USA Support")
   a(href="#")
     input(type="button", class="button white-button", value="Contact")
