div.microsite-background.sales
  div.microsite-panel-sales.scrolldown(data-scroll="content")
    img.sales-header(src="images/microsite_images/die_casting_lg.jpg")
    div.overlay
      div.vertical-center
        div.title Metal Die Casting
    div.scroll-arrow
      img(src="images/microsite_images/arrow2.png")



  a#content
  div.sales-subtitle
  div.row
    div.col-md-2.col-sm-2.col-xs-1
    div.sales-textdiv.col-md-6.col-sm-8.col-xs-10
      p.hidden-xs
        br
        br
      br
      br
      p.subhead Metal Die Casting
      br
      |Pressure and Gravity casting.
      |Low and high volume production.
      |Secondary operations, machining, bead blasting and painting.
      br
      br
      p.subhead Materials
      |Aluminum, Zinc and Magnesium.

    div.sales-imgdiv.col-md-3.col-sm-12
      img#profileimg(src="images/microsite_images/die-casting-profile-sm.jpg", data-previewid="preview-die-casting")

  div.row
    div.col-xs-12
      a(href="#/quotation")
       input#quotation_button.action-btn.double(value="Get a quotation", type="button")
  br

div#preview-die-casting.largeprofile-preview.modal.fade
  div.modal-content
    img.prevClose(src="images/microsite_images/die-casting-profile-lg.jpg")
