div#parallax-images
  a.parallax-images

div.microsite-background#landing-background

  div.img-holder.image1(data-image="images/microsite_images/main-image1-lg.jpg", data-image-sm="images/microsite_images/main-image1-sm.jpg", data-image-md="images/microsite_images/main-image1-md.jpg")
  div.top-overlay.scrolldown-top(data-scroll="micro-slide-1")
   div.microheadline
    div.medd
    div.medd
    div.medd
    img.scrolldown-top-button(src='images/microsite_images/arrow2.png', data-scroll="micro-slide-1")

  a#micro-slide-1
  div.microsite-content.scrolldown(data-scroll="micro-slide-2")
    div.row.table
      div.col-sm-offset-1.col-sm-10.col-xs-offset-0.col-xs-12.hidden-md.hidden-lg
        img.landing-contentslide.left(src="images/microsite_images/slide-img-1.jpg")
      div.col-sm-offset-1.col-sm-11.col-xs-offset-1.col-xs-11.hidden-md.hidden-lg
        div.landing-contentslide
          p.subhead 
          p 

      div.col-md-8.col-md-offset-2.hidden-sm.hidden-xs
        div.cell-middle.image
          img.landing-contentslide(src="images/microsite_images/slide-img-1.jpg")
        div.cell-middle.description
          div.landing-contentslide
            p Top Ten mold maker in China 
            p Supplying USA Blue Chip customers for over 18 years
            p ISO 9001 2000
            p Highest Quality built to international standards
            p Very competitive pricing 


    div.row
      div.col-md-12.micro-slide-down
        img.scrolldown-arrow(src='images/microsite_images/arrow_half.png', data-scroll="micro-slide-2")

  div.img-holder.image2(data-image="images/microsite_images/main-image2-lg.jpg", data-image-sm="images/microsite_images/main-image2-sm.jpg", data-image-md="images/microsite_images/main-image2-md.jpg")
  a#micro-slide-2
  div.microsite-content.scrolldown(data-scroll="micro-slide-3")
    div.row.table
      div.col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10.hidden-md.hidden-lg
        img.landing-contentslide(src="images/microsite_images/slide-img-2.jpg")
      div.col-sm-offset-1.col-sm-11.col-xs-offset-1.col-xs-11.hidden-md.hidden-lg
        div.landing-contentslide
          p.subhead Company
          p Established 1998
          p 90,000sqft Facility
          p 300 moldmakers 
          p Producing 500-600 mold per year 
          p 90% Exported molds to USA, Europe and Japan 


      div.col-md-8.col-md-offset-2.hidden-sm.hidden-xs
        div.cell-middle.description
          div.landing-contentslide
            p.subhead Company
            p Established 1998
            p 90,000sqft Facility
            p 300 moldmakers 
            p Producing 500-600 mold per year 
            p 90% Exported molds to USA, Europe and Japan 
        div.cell-middle.image
          img.landing-contentslide(src="images/microsite_images/slide-img-2.jpg")

    div.row
      div.col-md-12.micro-slide-down
        img.scrolldown-arrow(src='images/microsite_images/arrow_half.png', data-scroll="micro-slide-3")

  div.img-holder.image3(data-image="images/microsite_images/main-image3-lg.jpg", data-image-sm="images/microsite_images/main-image3-sm.jpg", data-image-md="images/microsite_images/main-image3-md.jpg")
  a#micro-slide-3
  div.microsite-content.scrolldown(data-scroll="micro-slide-4")
    div.row.table
      div.col-sm-offset-1.col-sm-10.col-xs-offset-0.col-xs-12.hidden-md.hidden-lg
        img.landing-contentslide(src="images/microsite_images/slide-img-3.jpg")
      div.col-sm-offset-1.col-sm-11.col-xs-offset-1.col-xs-11.hidden-md.hidden-lg
        div.landing-contentslide
          p.subhead Mold types
          p Full range, from small, tight tolerance parts, to large industrial and automotive parts. 
          p Maximum mold weight 20Tons
          p Hot runner molds, multi-cavity, unscrewing, multi-shot, overmold, sequential valve gate. 
          p.subhead Markets 
          p Automotive, consumer products, medical, lawn and garden, electronic and Industrial products


      div.col-md-8.col-md-offset-2.hidden-sm.hidden-xs
        div.cell-middle.image
          img.landing-contentslide(src="images/microsite_images/slide-img-3.jpg")
        div.cell-middle.description
          div.landing-contentslide
            p.subhead Mold types
            p Full range, from small, tight tolerance parts, to large industrial and automotive parts. 
            p Maximum mold weight 20Tons
            p Hot runner molds, multi-cavity, unscrewing, multi-shot, overmold, sequential valve gate. 
            p.subhead Markets 
            p Automotive, consumer products, medical, lawn and garden, electronic and Industrial products

    div.row
      div.col-md-12.micro-slide-down
        img.scrolldown-arrow(src='images/microsite_images/arrow_half.png', data-scroll="micro-slide-4")

  div.img-holder.image4(data-image="images/microsite_images/main-image4-lg.jpg", data-image-sm="images/microsite_images/main-image4-sm.jpg", data-image-md="images/microsite_images/main-image4-md.jpg")
  a#micro-slide-4
  div.microsite-content.scrolldown(data-scroll="micro-slide-5")
    div.row.table
      div.col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10.hidden-md.hidden-lg
        img.landing-contentslide(src="images/microsite_images/slide-img-4.jpg",style="width: 65%;")
      div.col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-11.hidden-md.hidden-lg
        div.landing-contentslide
          p.subhead Top ten mold maker in China 
          p By investing in People, Processes and Equipment 
          p Latest design tools, latest machining, inspection and sampling equipment.
          p Customer focused – we want your mold to run as soon as you get it, the way you want it.

      div.col-md-8.col-md-offset-2.hidden-sm.hidden-xs
        div.cell-middle.description
          div.landing-contentslide
            p.subhead Top ten mold maker in China 
            p By investing in People, Processes and Equipment 
            p Latest design tools, latest machining, inspection and sampling equipment.
            p Customer focused – we want your mold to run as soon as you get it, the way you want it.
        div.cell-middle.image
          img.landing-contentslide(src="images/microsite_images/slide-img-4.jpg")

    div.row
      div.col-md-12.micro-slide-down
        img.scrolldown-arrow(src='images/microsite_images/arrow_half.png', data-scroll="micro-slide-5")

  div.img-holder.image4(data-image="images/microsite_images/main-image5-lg.jpg", data-image-sm="images/microsite_images/main-image5-sm.jpg", data-image-md="images/microsite_images/main-image5-md.jpg")
  a#micro-slide-5
  div.microsite-content.scrolldown(data-scroll="micro-slide-6")
    div.row.table
      div.col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10.hidden-md.hidden-lg
        img.landing-contentslide(src="images/microsite_images/slide-img-5.jpg",style="width: 65%;")
      div.col-sm-offset-1.col-sm-11.col-xs-offset-1.col-xs-11.hidden-md.hidden-lg
        div.landing-contentslide
          p.subhead Quality ISO 9001 2000
          p Mold Steel Hardness Inspection
          p Electrodes Inspection
          p Core and Cavity Steel Dimension inspection
          p Mold Pre-Assembly Inspection
          p Trial Report and Samples inspection
          p Pre-Shipment Final Inspection
          p Export Mold Package Inspection

      div.col-md-8.col-md-offset-2.hidden-sm.hidden-xs
        div.cell-middle.image
          img.landing-contentslide(src="images/microsite_images/slide-img-5.jpg")
        div.cell-middle.description
          div.landing-contentslide
            p.subhead Quality ISO 9001 2000
            p Mold Steel Hardness Inspection
            p Electrodes Inspection
            p Core and Cavity Steel Dimension inspection
            p Mold Pre-Assembly Inspection
            p Trial Report and Samples inspection
            p Pre-Shipment Final Inspection
            p Export Mold Package Inspection

    div.row
      div.col-md-12.micro-slide-down
        img.scrolldown-arrow(src='images/microsite_images/arrow_half.png', data-scroll="micro-slide-6")


  div.img-holder.image4(data-image="images/microsite_images/main-image6-lg.jpg", data-image-sm="images/microsite_images/main-image6-sm.jpg", data-image-md="images/microsite_images/main-image6-md.jpg")
  a#micro-slide-6
  div.microsite-content.scrolldown(data-scroll="micro-slide-7")
    div.row.table
      div.col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10.hidden-md.hidden-lg
        img.landing-contentslide(src="images/microsite_images/slide-img-6.jpg",style="width: 65%;")
      div.col-sm-offset-1.col-sm-11.col-xs-offset-1.col-xs-11.hidden-md.hidden-lg
        div.landing-contentslide
          p.subhead In house trialing 
          p Very important to ensure the mold runs well when you receive it.
          p Every mold cycled for 6 hours 
          p 6 presses 50 ton to 500 tons. 
          p Highly trained process technicians

      div.col-md-8.col-md-offset-2.hidden-sm.hidden-xs
        div.cell-middle.description
          div.landing-contentslide
            p.subhead In house trialing 
            p Very important to ensure the mold runs well when you receive it.
            p Every mold cycled for 6 hours 
            p 6 presses 50 ton to 500 tons. 
            p Highly trained process technicians

        div.cell-middle.image
          img.landing-contentslide(src="images/microsite_images/slide-img-6.jpg")

    div.row
      div.col-md-12.micro-slide-down
        img.scrolldown-arrow(src='images/microsite_images/arrow_half.png', data-scroll="micro-slide-7")

  a#micro-slide-7
  div.microsite-action
    div.row
      div.col-md-4.col-sm-4.col-xs-0
      div.col-md-4.col-sm-4.col-xs-12
        div(style="display: inline-block")
          div.action-btn.double(data-navigate="#/quotation") Get a quotation
    div.row.visible-xs
      br
      br
    div.row.hidden-xs
      br
      br
      br
      br
      div.col-12.header Find out more
    div.row
      div.col-md-1.col-xs-0
      div.col-md-10.col-xs-12
        div(style="display: inline-block")
          div.action-holder
            div.action-btn(data-navigate="#/microsite/3Dprinting") 3D&nbsp;Printing
            div.action-btn(data-navigate="#/microsite/InjectionMolding") Plastic&nbsp;Injection Molding
            div.action-btn(data-navigate="#/microsite/DieCasting") Metal Die&nbsp;Casting
            div.action-btn(data-navigate="#/microsite/CNCmachining") Precision Machining
            div.action-btn(data-navigate="#/microsite/Other") Other&nbsp;Processes
