div.microsite-background.sales
  div.microsite-panel-sales.scrolldown(data-scroll="content")
    img.sales-header(src="images/microsite_images/cnc_machining_lg.jpg")
    div.overlay
      div.vertical-center
        div.title CNC Machining
    div.scroll-arrow
      img(src="images/microsite_images/arrow2.png")


  a#content
  div.sales-subtitle
  div.row
    div.col-md-2.col-sm-2.col-xs-1
    div.sales-textdiv.col-md-6.col-sm-8.col-xs-10
      p.hidden-xs
        br
        br
      br
      br
      p.subhead Precision Machined Parts
      br
      |Plastics and Metals
      |Quantities from 1 off, to batch production, to full volume production.
      |CNC, milling and turning including 5 Axis CNC
      |Part materials - Full range of Engineering Thermoplastic and Metals.
      br
      br
      p.subhead Finishing
      br
      |Bead blasting, Anodizing, Plating, painting,
      br

    div.sales-imgdiv.col-md-3.col-sm-12
      img#profileimg(src="images/microsite_images/cnc-machining-profile-sm.jpg", data-previewid="preview-cnc-machining")

  div.row
    div.col-xs-12
      a(href="#/quotation")
       input#quotation_button.action-btn.double(value="Get a quotation", type="button")
  br

div#preview-cnc-machining.largeprofile-preview.modal.fade
  div.modal-content
    img.prevClose(src="images/microsite_images/cnc-machining-profile-lg.jpg")
